# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
coverage.xml
*.egg-info/
dist/
build/
*.egg

# dbt
medical_warehouse/target/
medical_warehouse/logs/
medical_warehouse/.dbt/

# Data & secrets
.env
data/*
!data/.gitkeep
logs/

# IDE & OS
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
#telegram_scraper_session.session